<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="SourceConnectionString"
          connectionString="Data Source=localhost\SQLSERVER2012STD;Initial Catalog=Source;Integrated Security=True;MultipleActiveResultSets=true"
          providerName="System.Data.SqlClient" />
      <add name="DestinationConnectionString"
          connectionString="Data Source=localhost\SQLSERVER2012STD;Initial Catalog=Destination;Integrated Security=True;MultipleActiveResultSets=true"
          providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>